* {
    font-family: Arial !important;
}

body#our-site-body {
    margin: 0 !important;
    background: white;
}

.content-area {
    overflow: hidden !important;
    padding: 20px 150px !important;
}

.page-title.our-site {
    padding: 25px 150px !important;
    font-size: 50px  !important;
    color: #fff !important;
    background-color: #4CAF50 !important;
    width: 100% !important;
    overflow: hidden !important;
}

.recent-comments-title {
    margin: 0 !important;
    margin-top: 80px !important;
    font-size: 30px  !important;
    /*background-color: #4CAF50 !important;*/
    border-bottom: 3px solid #4CAF50 !important;
    color: #4CAF50 !important;
    width: 99.5% !important;
    padding: 3px !important;
}

.input-url input[type=text] {
    overflow: hidden !important;
    width: 84% !important;
    padding: 12px 20px !important;
    margin: 8px 0 !important;
    display: inline-block !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    float: left !important;
    background-color: #EEEEEE !important;
    font-size: 30px !important;
}

.input_username_box input[type=text] {
  overflow: hidden !important;
  width: 22.5% !important;
  padding: 12px 20px !important;
  margin: 5px 77.5% !important;
  display: inline-block !important;
  border: 1px solid #ddd !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  float: left !important;
  background-color: #EEEEEE !important;
  font-size: 12px !important;
  margin-top: 15px !important;
}

.input-url input[type=submit] {
    overflow: hidden !important;
    width: 15% !important;
    background-color: #4CAF50 !important;
    color: white !important;
    padding: 14px 20px !important;
    margin: 8px 0 !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    float: left !important;
    margin-left: 1% !important;
    font-size: 30px  !important;
}

button.our-site {
  overflow: hidden
  width: 15% !important;
  background-color: #4CAF50 !important;
  color: white !important;
  padding: 14px 20px !important;
  margin: 8px 0 !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  font-size: 20px  !important;
}

button:visited,
button:hover {
    background-color: #3A9A35 !important;
}

.input-url input[type=submit]:visited,
.input-url input[type=submit]:hover {
    background-color: #3A9A35 !important;
}

.comment-div iframe {
    border: 0 !important;
    float: left !important;
    overflow: hidden !important;
    border-left: 20px solid #4CAF50 !important;
    width: 30% !important;
}

.comment-body {
    overflow: hidden !important;
    padding: 0px 15px !important;
    float: left !important;
    width: 65% !important;
}

.comment-div {
    width: 100% !important;
    /*border-top: 15px solid #4CAF50 !important;*/
    background-color: #EEE !important;
    margin-top: 50px !important;
    margin-bottom: 40px !important;
    /*border: 1px solid #4CAF50 !important;*/
    padding: 0 !important;
    overflow: hidden !important;
}

.comment-name {
    font-weight: bold !important;
    font-size: 28px  !important;
    color: #4CAF50 !important;
}

.comment-message {
    margin-top: -15px !important;
}

.check-comment-button {
    overflow: hidden !important;
    width: 20% !important;
    background-color: #4CAF50 !important;
    color: white !important;
    padding: 10px 20px !important;
    margin: 0 !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    float: left !important;
    font-size: 18px  !important;
    text-decoration: none !important;
    text-align: center !important;
    margin-top: 15px !important;
}

.check-comment-button:visited,
.check-comment-button:hover {
    background-color: #3A9A35 !important;
}

.leave-reply input[type=text], input[type=email] {
    margin-top: 10px !important;
    overflow: hidden !important;
    width: 69% !important;
    display: inline-block !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    float: left !important;
    background-color: #FFFFFF !important;
    font-size: 18px  !important;
    padding: 3px 5px !important;
}

.comment-page-body iframe {
    border: 0 !important;
    border-left: 20px solid #4CAF50 !important;
    float: left !important;
    overflow: hidden !important;
    width: 55% !important;
}

.leave-reply input[type=submit]{
    margin-top: 10px !important;
    overflow: hidden !important;
    width: 30% !important;
    background-color: #4CAF50 !important;
    color: white !important;
    padding: 3px 5px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    float: left !important;
    margin-left: 1% !important;
    font-size: 18px  !important;
}

.leave-reply input[type=submit]:visited,
.leave-reply input[type=submit]:hover {
    background-color: #3A9A35 !important;
}

.leave-comment-area {
    float: left !important;
    overflow: hidden !important;
    padding: 20px !important;
    width: 40% !important;
}

.highlighted {
    font-size: 20px  !important;
    font-weight: bold !important;
    color: #4CAF50 !important;
    margin-bottom: 20px !important;
}

.comment-page-content-area {
    overflow: hidden !important;
    background-color: #EEEEEE !important;
    padding: 0 !important;
    margin-left: 150px !important;
    margin-right: 150px !important;
}

.comment-to-reply {
    overflow: hidden !important;
    border-left: 5px solid #4CAF50 !important;
    margin-bottom: 20px !important;
    padding-left: 10px !important;
}

.author {
    color: #4CAF50 !important;
    font-size: 18px  !important;
    margin-bottom: 7px  !important;
}

.comment-text {
    font-size: 18px  !important;
    margin-bottom: 10px;
}

#input_username, #input_email, #message {
  margin-bottom: 3px !important;
  margin-top: 3px !important;
}

.leave-reply textarea {
    font-size: 18px  !important;
    width: 100% !important;
    height: 80px !important;
    margin-bottom: 10px !important;
    overflow: hidden !important;
    display: inline-block !important;
    border: 1px solid #ddd !important;
    border-radius: 4px !important;
    box-sizing: border-box !important;
    float: left !important;
    background-color: #FFFFFF !important;
    padding: 3px 5px !important;
}

.replies-list-title {
    overflow: hidden !important;
    margin: 30px 0 !important;
    padding: 4px !important;
    font-size: 20px  !important;
    border-bottom: 3px solid #4CAF50 !important;
    color: #4CAF50 !important;

}

.all-rep {
    overflow: hidden !important;
    width: 100% !important;
    float: left !important;
}

.marko {
  margin-bottom: 10px !important;
  overflow: hidden !important;
  background-color: #eee !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.add-new-comment-title {
  font-size: 30px  !important;
  margin-bottom: 10px !important;
  padding-bottom: 0px !important;
}

.high-text {
  color: #000 !important;
  overflow: hidden !important;
  font-weight: normal !important;
  font-size: 16px  !important;
  margin-top: 10px !important;
}

.highlight { background-color: yellow }

#container {
 height: 50%  !important;

  float: left  !important;
  border: 0 !important;
  float: left !important;
  border-left: 20px solid #4CAF50 !important;
  width: 50%  !important;
  overflow: scroll  !important;
}

.comment-info-2 {
  overflow: hidden !important;
  border-left: 5px solid #4CAF50 !important;
  margin-bottom: 20px !important;
  padding-left: 10px !important;
  margin-bottom: 10px !important;
  overflow: hidden !important;
  background-color: #D3F3C8 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;s
}

.check-comment-button2 {
  overflow: hidden !important;
  width: 20% !important;
  background-color: #4CAF50 !important;
  color: white !important;
  padding: 10px 20px !important;
  margin: 0 !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  float: right !important;
  font-size: 18px  !important;
  text-decoration: none !important;
  text-align: center !important;
  margin-top: 15px !important;
}

.mark{
    background: orange;
    color: black;
}
