{% load static %}
<html>
<head>
    <title>Website Commenting Tool</title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>

    <h1 class="page-title our-site"> Website Commenting Tool </h1>

    <div class="content-area our-site">

      <div class="all-recent-comments">
          <h2 class="recent-comments-title">User {{ username }}'s comments:</h2>

          {% for comment in comments %}
            <form class="comment-div" action="" method="get">
                <iframe src = {{ comment.page_url }} height=30% width="30%" > </iframe>
                <div class="container">
                    <div class="dialogbox">
                        <div class="comment-body">
                            <span class="tip tip-up"></span>
                            <p class="comment-name">{{ comment.author }}</p>
                            <div class="comment-message">
                                {{ comment.text }}
                            </div>
                            <a class="check-comment-button" target="_blank" rel="noopener noreferrer" href = "{% url 'comment' identify=comment.id %}">
                                Check comment
                            </a>
                            </div>
                        </div>
                    </div>
            </form>
          {% endfor %}
        </div>
    </div>

</body>
</html>
