{% load static %}
<html>
<head>
    <title> Website Commenting Tool</title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
</head>
<body id="our-site-body">
      <h1 class="our-site page-title">Comment</h1>

      <div class="our-site content-area">

      <div class="our-site comment-page-body">
          <!-- <iframe src = {{ comment.page_url }} height=50% width=50% id = "iframeID"> </iframe> -->
          <div id="container" style="height: 50px; width: 50%;"></div>
          <div id="content"></div>
          <div class="our-site leave-comment-area">
                  <div class="our-site highlighted">
                        <button class="our-site" type="button" onClick='findString("{{comment.highlighted}}")'>Show highlighted</button>
                        <script>
                          findString = function findText(text) {
                            window.find(text);
                          }
                        </script>
                  </div>
<div class="comment-info-2">
                    <div class="our-site author">
                    {{comment.author}}
                    </div>

                  <div class="our-site comment-text">
                    {{comment.text}}
                  </div>
</div>
                  <div class="our-site leave-reply">
                    <form class="our-site leave-reply" action="" method="post">
                      {% csrf_token %}
                      {{ form.text }}
                      {{ form.author }}
                      {{ form.email }}
                      <input type="submit" value="Leave reply">
                    </form>
                  </div>
              <div class="our-site all-rep">
                    <br>
                <h3 class="our-site replies-list-title">Recent replies:</h3>

                    {% for reply in replies %}
                      <div class="our-site comment-to-reply marko">
                        <div class="our-site author">{{ reply.author }}</div>
                        <div class="our-site comment-text">{{ reply.text }}</div>
                      </div>
                    {% endfor %}
              </div>
        </div>
    </div>
    </div>
</body>
<script>
$.getJSON(
  "http://www.whateverorigin.org/get?url=" +
    encodeURIComponent("{{ comment.page_url }}") +
    "&callback=?",
  function(data) {
    // alert(data.contents);
    $("#container").html(data.contents);
  }
);
</script>
</html>
