<!--
{% load static %}
<html>
<head>
    <title> Website Commenting Tool</title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>
      <h1> Comment {{ comment.id }} </h1>
      <br>
      <div>
         <iframe src = {{ comment.page_url }} height=50% width=50% id="myframe"> </iframe>
      </div>
      <br>
      <div>
        highlighted: {{comment.highlighted}}
      </div>
      <div>
        {{comment.text}}
      </div>
      <br>
      <div>
        {{comment.author}}
      </div>
      <hr>
      <div class="leave-reply">
        <form action="" method="post">
          {% csrf_token %}
          {{ form.text }}
          {{ form.author }}
          <input type="submit" value="Leave reply..">
        </form>
      </div>
      <hr>
      <div>
        {% for reply in replies %}
            <p> reply: {{ reply.text }} </p>
            <p> user: {{ reply.author }} </p>
            <hr>
        {% endfor %}
      </div>
</body>
</html>
-->
{% load static %}
<html>
<head>
    <title> Website Commenting Tool</title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>
      <h1 class="page-title">Comment</h1>

      <div class="content-area">

      <div class="comment-page-body">
         <iframe src = {{ comment.page_url }} height=50% width=50% id="myframe"> </iframe>

          <div class="leave-comment-area">
                  <div class="highlighted">
                        Highlighted: <div class="high-text">{{comment.highlighted}}</div>
                  </div>

                    <div class="author">
                    {{comment.author}}
                  </div>

                  <div class="comment-text">
                    {{comment.text}}
                  </div>

                  <div class="leave-reply">
                    <form class="leave-reply" action="" method="post">
                      {% csrf_token %}
                      {{ form.text }}
                      {{ form.author }}
                      <input type="submit" value="Leave reply">
                    </form>
                  </div>

              <div class="all-rep">
                    <br>
                <h3 class="replies-list-title">Recent replies:</h3>

                    {% for reply in replies %}
                      <div class="comment-to-reply marko">
                        <div class="author">{{ reply.author }}</div>
                        <div class="comment-text">{{ reply.text }}</div>
                      </div>
                    {% endfor %}
              </div>
        </div>
    </div>
    </div>
</body>
</html>
