{% load static %}
<html>
<head>
    <title> Website Commenting Tool </title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>
    <h1> Website Commenting Tool </h1>
    <br>
    <form action="" method="post">
        {% csrf_token %}
        {{ url.site_url }}
        <input type="submit" value="Submit">
        <br>
    </form>
    {% for comment in comments %}
    <hr>
        <iframe src = {{ comment.page_url }} height=30% width="30%" > </iframe>
         <div class="container">
          <div class="dialogbox">
            <div class="body">
              <span class="tip tip-up"></span>
              {{ comment.author }}
              <hr>
              <div class="message">
                <span> {{ comment.text }} </span>
              </div>
            </div>
          </div>
        </div>
    {% endfor %}
    <hr>
</body>
</html>
