{% load static %}
<html>
<head>
    <title> Website Commenting Tool</title>
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
</head>
<body>

      <h1 class="our-site page-title">New comment</h1>

      <div class="our-site content-area">

      <div class="our-site comment-page-body">

        <iframe src = {{ url.page_url }} height=50% width="50%" > </iframe>

        <div class="our-site leave-comment-area">

          <div class="our-site highlighted add-new-comment-title">
                Add new comment:
          </div>

          <div class="our-site leave-reply">
            <form action="" method="post">
              {% csrf_token %}
            <br>
            <div class="our-site text-field">
              {{form.highlighted}}
            </div>
            <div class="our-site text-field">
              {{form.text}}
            </div>
            <br>
            <div class="our-site username">
              {{ form.author }}
              {{ form.email }}
              <input id="send" type="submit" value="Done">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
